# Entornos virtuales
/env/
venv/
ENV/

# Archivos de entorno
.env

# __pycache__ y otros temporales de Python
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de VSCode o IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
